<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The Ultimate Startup Championship is the World's Biggest Startup Competition with a difference. The best
        innovators pit against each other in an epic battle to define tomorrow.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Ultimate Startup Championship</title>
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Web Application Manifest -->
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Web Starter Kit">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileColor" content="#2F3BA2">
    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2F3BA2">
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta property="og:title" content="The Ultimate Startup Championship" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
  <link rel="canonical" href="http://www.example.com/">
  -->
<link href="styles/bundle.css" rel="stylesheet"></head>

<body>
    <!-- Add your site or app content here -->
    <div class="contain-all">
        <nav>
            <div class="container">
                <h4><img src="./images/pwa-192x192.png" alt=""> Ultimate Startup Championship</h4>
            </div>
        </nav>
        <div class="splash-screen-bg">
            <section class="splash-screen">
                <div class="container">
                    <div class="row">
                        <div class="offset-by-six six columns">
                            <h1>THE FUTURE OF TECH EVENTS IS HERE</h1>
                            <!--<h4>May the future be with you</h4>-->
                            <!--TODO: onclick - registration modal should open integrated to mailchimp. Required Fields: Name of organisation /Startup, Country, Email, Skype ID (optional)-->
                            <a class="learn_btn">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="introduction">
            <div class="container">
                <h4>
        The Ultimate Startup Championship is the World's Biggest Startup Competition with a difference. The best
        innovators pit against each other in an epic battle to define tomorrow.
      </h4>
            </div>
        </section>
        <section class="how-it-works">
            <h3>How it works</h3>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="card four columns">
                        <h5>NOMINATIONS</h5>
                        <p>
                            There will be nominations of 4 top startups from each category from each participating country nominated by our country partners.
                        </p>
                    </div>
                    <div class="card four columns">
                        <h5>PRELIMINARY KNOCKOUTS</h5>
                        <p>
                            There are 4 knockout rounds and in each round there will be voting where one startup from each category per country shall be pitted against each other.
                        </p>
                    </div>
                    <div class="card four columns">
                        <h5>BATTLE ROYALE</h5>
                        <p>
                            All the qualified startups pitted against each other, with all the country partners voting. Country Partners having startups from their country in the Final Battle Royale shall not vote in that particular category. The winner will be crowned.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="categories">
            <div class="container">
                <h4>The Ultimate Startup Championship has 11 categories on which startups will compete.</h4>
                <ul>
                    <li>Finance</li>
                    <li>Clean Energy</li>
                    <li>Clothing</li>
                    <li>Logistics</li>
                    <li>Management</li>
                    <li>Agriculture</li>
                    <li>Communication</li>
                    <li>Home Automation</li>
                    <li>City</li>
                    <li>Health</li>
                    <li>Learning</li>
                </ul>
            </div>
        </section>
        <!--TODO: add a counter bar here-->
        <section class="counter-section">
            <div class="container counter-container">
                <div class="counter-wrapper">
                  <span class="counter">1000</span>
                  <span class="extra-data">+</span>
                  <span class="counter-data">Teams</span>
                </div>
                <div class="counter-wrapper">
                  <span class="counter">11</span>
                  <span class="counter-data">Categories</span>
                </div>
                <div class="counter-wrapper">
                  <span class="counter">20</span>
                  <span class="extra-data">+</span>
                  <span class="counter-data">Countries</span>
                </div>

            </div>
            <h4> What are you waiting for?</h4>
        </section>
        <section class="team">
            <h3>Our Team</h3>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="team-member three columns">
                        <div class="image-wrap">
                            <img src="images/team/arko.jpg" alt="Arko Ganguli">
                        </div>
                        <strong>Arko Ganguli</strong>
                    </div>
                    <div class="team-member three columns">
                        <div class="image-wrap">
                            <img src="images/team/Kavya.png" alt="Kavya Natesh">
                        </div>
                        <strong>Kavya Natesh</strong>
                    </div>
                    <div class="team-member three columns">
                        <div class="image-wrap">
                            <img src="images/team/Pritish.jpg" alt="Pritish Shah">
                        </div>
                        <strong>Pritish Shah</strong>
                    </div>
                    <div class="team-member three columns">
                        <div class="image-wrap">
                            <img src="images/team/PINA.jpg" alt="Praveen KR">
                        </div>
                        <strong>Praveen KR</strong>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="six columns">
                        <ul>
                            <li><strong>Follow us on:</strong></li>
                            <li><a href=" https://www.facebook.com/groups/UltimateStartups/" target="_blank"><i class="fa fa-facebook"
                                                                                                aria-hidden="true"></i></a>
                            </li>
                            <li><a href="https://twitter.com/UltiStartups" target="_blank"><i class="fa fa-twitter"
                                                                              aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/ultimatestartups/" target="_blank"><i class="fa fa-instagram"
                                                                                         aria-hidden="true"></i></a>
                            </li>
                            <li><a href="https://medium.com/UltimateStartupChampionship" target="_blank"><i class="fa fa-medium"
                                                                                            aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="six columns">Developed and Designed by The Design Foundry</div>
                </div>
            </div>
        </footer>
    </div>
    <div class="modal-wrapper">
        <div class="modal-close-wrap">
        </div>
        <div class="modal LearnMoreModal">
            <div class="modal-header">
                <h5>Learn More</h5>
                <i class="fa fa-times" id="close_modal" saria-hidden="true"></i>
            </div>
            <div class="modal-content">
                <form class="addSkillForm" ng-submit="saveSkill()">
                    <div class="blockInputContainer">
                        <span>Name of Organization</span>
                        <input type="text" name="skill" ng-model="skillName" required="required">
                    </div>
                    <div class="blockInputContainer">
                        <span>Country</span>
                        <input type="text" name="tags" ng-model="keywordsDisplay" required="required">
                    </div>
                    <div class="blockInputContainer">
                        <span>Email</span>
                        <input type="text" name="tags" ng-model="keywordsDisplay" required="required">
                    </div>
                    <div class="blockInputContainer">
                        <span>Skype ID</span>
                        <input type="text" name="tags" ng-model="keywordsDisplay" required="required">
                    </div>
                    <input type="submit" class="cbtn pull-right" value="SUBMIT">
                </form>
            </div>
        </div>
    </div>
    <!-- build:js scripts/main.min.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- Built with love using Web Starter Kit -->
<script type="text/javascript" src="bundle.js"></script></body>

</html>
